* {
	padding : 0;
	margin : 0;
	font-family: Raleway,sans-serif;
	font-size: 16px;
}

body {
	margin-right: 30%;
	margin-left: 20%;
}

h4 {
	font-size: 100%;
	font-size: 15px; 
}

.header h3 {
	font-size: 40px;
}


.header {
	padding-top: 30px;
}

.header img{
	float : left;
}

.name {
	position: relative;
	left: 60%;
}
.line{
	padding-top:30px;
}

.text{
	padding-top:10px;
}

.work h3{
	padding-top:20px;
	font-weight:200;
	color: gray;
	letter-spacing: 2px;
}

.word img{
	display:inline;
}
